html {
	scroll-behavior: smooth;
}

body {
	font-family: Roboto, san-serif;
	margin:0;
	background-color: #F8F5EF;
	color: #282828;
}

footer {
	height: 30px;
	text-align: center;
	background-color: #282828;
	color: #F8F5EF;
}

a {
	text-decoration: none;
	color: #282828;
}

p {
	text-align: justify;
}

a:hover {
	color: #F8F5EF;
}

#topBar {
	display: flex;
	align-items: center;
	width: 80%;
	min-width: 610px;
	margin: auto;
	height: 60px;
	padding: 0;
	overflow: hidden;

	list-style-type: none;

	font-size: 1.5em;
	background-color: #D47C44;
}

#topBar li {
	display: block;
	margin: 0 15px;
	min-width: fit-content;
}

.top-bar-right-side {
	text-align: center;
	width: 15%;
}

.top-bar-left-side {
	width: 40%;
}

.top-bar-left-side a {
	font-weight: bold;
	color: #F8F5EF;
}

#content {
	display: flex;
	width: 80%;
	min-width: 610px;
	margin: auto;
}
