body {
	height: 100%;
	font-family: Roboto, san-serif;

	margin:0 ;
}

header {
	display: flex;
	justify-content: center;
	background-color: yellow;
}

footer {
	height: 30px;
	text-align: center;
	background-color: gray;
	color: white;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

#topBar {
	display: flex;
	align-items: center;
	width: 80%;
	min-width: fit-content;
	height: 70px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	list-style-type: none;
	
	font-size: 1.5em;
	background-color: #6f9ae8;
}

#topBar li {
	display: inline-block;
	margin: 0 15px;
	min-width: fit-content;
}

.top-bar-right-side {
	text-align: center;
	width: 15%;
}

.top-bar-left-side {
	width: 40%;
}

.top-bar-left-side a {
	font-weight: bold;
	color: white;
}

#content {
	display: flex;
	margin: auto;
	width: 80%;
	min-width: fit-content;
	height: calc(100vh - 100px);
}

#content div {
	width: 100%;
	min-width: 285px;
	padding: 10px;
}

.left {
	background-color: red;
}

.right {
	background-color: green;
}

