body {
	font-family: Roboto, san-serif;
	margin:0;
}

footer {
	height: 30px;
	text-align: center;
	background-color: gray;
	color: white;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

#topBar {
	display: flex;
	align-items: center;
	width: 80%;
	min-width: 610px;
	margin: auto;
	height: 60px;
	padding: 0;
	overflow: hidden;
	
	list-style-type: none;
	
	font-size: 1.5em;
	background-color: #6f9ae8;
}

#topBar li {
	display: block;
	margin: 0 15px;
	min-width: fit-content;
}

.top-bar-right-side {
	text-align: center;
	width: 15%;
}

.top-bar-left-side {
	width: 40%;
}

.top-bar-left-side a {
	font-weight: bold;
	color: white;
}

#content {
	display: flex;
	width: 80%;
	min-width: 610px;
	margin: auto;
}

#content div {
	//width: 50%; //SHOULD BE CHANGED OR SPECIFIED SEPARATELY IN contentLeft and contentRight
	padding: 10px;
}

#contentLeft {
	background-color: red;
}

#contentRight {
	background-color: forestgreen;
}

